body
{
    font-family: arial, helvetica;
    background-color: #0c192c;
    font-family: "Montserrat", "sans-serif";
}

.navegacion
{
    text-align: center;
    list-style: none;
    padding: 0;
    width: 90%;
    max-width: 100%;
    margin:auto;
    

}

.navegacion li a
{

    text-decoration:none;

    padding: 10px;
    display: block;
    position: relative;
    color: white;
}



.navegacion li a::after
{
    content: "";
    background:teal;
    position: absolute;
    left: 0%;
    top: calc(100% + 4px);
    width: 100%;
    height: 7px;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 80px;
}

.navegacion a:hover::after
{
    opacity: 0.8;
}

.navegacion li
{

    display: inline-block;
    text-align: center;
}

main
{
    width: 100%;
    min-height: 600px;
}
iframe
{
    width: 100%;
    min-height: 6000px;

}