body
{
    min-height: 100vh;
    background-color: #0c192c;
    font-family: "Montserrat", "sans-serif";
    overflow-y: hidden;
}


.burbuja
{
    position: relative;
    display: flex;
    filter: blur(10px);
}

.burbuja span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc, 
    0 0 50px #4fc3dc;
    animation: animate 10s linear infinite;
    animation-duration: calc(400s/var(--i));
}

.burbuja span:nth-child(even)
{
    background: hsl(339, 100%, 59%);
    box-shadow: 0 0 0 20px #ff2d7544,
    0 0 50px #ff2d75, 
    0 0 50px #ff2d75;
}

@keyframes animate
{
    100%{
        transform: translateY(100vh) scale(0);
    }

    0%
    {
        transform: translateY(-10vh) scale(1);
        background: rgb(241, 255, 46);
        box-shadow: 0 0 0 20px rgb(241, 255, 46, 0.1),
        0 0 50px rgb(241, 255, 46), 
        0 0 50px rgb(241, 255, 46);
    }
}

.main-container
{

    z-index: 10;
    width: 100%;
    height: 100%;
    margin: 0%;
    padding:0%;
}

.container
{
    margin-top: 50px;
    align-items: center;
}
#container-1 {
    width: 10%;
    height: 200px;
    display: block;
    position: relative; 
}

#container-2 {
    width: 10%;
    height: 200px;
    display: block;
    position: absolute;
    left: 88%; 
    top: 2px;
}




@keyframes arriba-abajo {
    0% {
        top: 0px;
    }
    100% {
        top: 200px; 
    }
}

.Europa 
{
    width: 350px; 
    height: 350px;
    border-radius: 30px;
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 0 6px rgb(255, 255, 255, 0.2),
    0 0 10px  #ffffff,
    0 0 80px  #ffffff;
    left: 37%;
}

#informacion
{
    text-align: center;
    position: relative;
    left:36.6%;
    padding: 5px;
    border:  2px solid white;
    border-radius: 10px; 
    color: white;
    z-index: 1px;
    height: 170px;
    width: 370px;
    box-shadow: 0 0 0 6px rgb(255, 255, 255, 0.2),
    0 0 10px  #ffffff,
    0 0 80px  #ffffff;
}

.Asia
{
    width: 350px; 
    height: 350px;
    border-radius: 30px;
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 0 6px rgb(255, 255, 255, 0.2),
    0 0 10px  #ffffff,
    0 0 80px  #ffffff;
    left: 37%;
}

#informacion-asia
{
    text-align: center;
    position: relative;
    left:36.6%;
    padding: 5px;
    border:  2px solid white;
    border-radius: 10px; 
    color: white;
    z-index: 1px;
    height: 170px;
    width: 370px;
    box-shadow: 0 0 0 6px rgb(255, 255, 255, 0.2),
    0 0 10px  #ffffff,
    0 0 80px  #ffffff;
}

.Africa
{
    width: 350px; 
    height: 350px;
    border-radius: 30px;
    position: relative;
    background: #ffffff;
    box-shadow: 0 0 0 6px rgb(255, 255, 255, 0.2),
    0 0 10px  #ffffff,
    0 0 80px  #ffffff;
    left: 37%;
}

#informacion-africa
{
    text-align: center;
    position: relative;
    left:36.6%;
    padding: 5px;
    border:  2px solid white;
    border-radius: 10px; 
    color: white;
    z-index: 1px;
    height: 170px;
    width: 370px;
    box-shadow: 0 0 0 6px rgb(255, 255, 255, 0.2),
    0 0 10px  #ffffff,
    0 0 80px  #ffffff;
}

.Navegacion
{
    position: fixed;
    top: 15px;
    float: left;
    border-radius: 10px;
    text-align: left;
    background: rgb(14, 25, 173, 0.2);
}
ol
{
    position: relative;
    right: 50%;
}

ul
{
    position: relative;
}
ul a
{
    text-decoration:none;
    color:white ;
    padding: 10px;
    display: block;
    position: relative;
}

a
{
    text-decoration:none;
    color:black ;
    padding: 10px;
    display: block;
    position: relative;
}


.Navegacion ul a::after
{
    content: "";
    background-color: darkgray;
    position: absolute;
    left: 0%;
    top: calc(100% + 4px);
    width: 70%;
    height: 4px;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 10px;
}

.Navegacion a:hover::after
{
    opacity: 0.8;
}

@media (max-width: 600px) 
{

    .Navegacion
    {
        visibility: hidden;
    }

}
