*
{
    padding:0 ;
    margin:0 ;
    box-sizing: border-box;
}

body
{
    min-height: 100vh;
    background-color: #0c192c;
    font-family: "Montserrat", "sans-serif";
}
p, h1
{
    color: white;
}
.burbuja
{
    position: relative;
    display: flex;
    filter:blur(10px) ;
}

.burbuja span
{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #4fc3dc, 
    0 0 50px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(400s/var(--i));
}

.burbuja span:nth-child(even)
{
    background: hsl(339, 100%, 59%);
    box-shadow: 0 0 0 20px #ff2d7544,
    0 0 50px #ff2d75, 
    0 0 50px #ff2d75;
}

@keyframes animate
{
    100%{
        transform: translateY(100vh) scale(0);
    }

    0%
    {
        transform: translateY(-10vh) scale(1);
    }
}

.main-container 
{
     background-color: rgba(79, 195, 220,0.1); 
    margin: 5px  180px ;
     z-index: 10;
        position: relative;
}
.reducir-p{
    width: 160px; 
            height: 90px; 
            padding: 5px; /* Espacio alrededor de la imagen */
            cursor: pointer; /* Cambia el cursor al pasar por encima */
}
.d-pais{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
    width: 100px;
    display: inline-block;
    border-radius: 10px;
}
.centerNegrita{

    margin-left: 38px;
    text-align: center;
    font-weight: bold; 
    font-size: 19px;
}
.centerH{

font-size: 3rem;
    text-align: center;
    margin-bottom: 18px;
}

#texto
{
    border:  4px solid white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 0 6px rgb(255, 255, 255, 0.2),
    0 0 10px  #ffffff,
    0 0 80px  #ffffff;
    left: 37%;
}

#Texto-Afganistan
{
    visibility: visible;
}

#Texto-Arabia
{
    visibility: visible;
}

